[submodule "plugin"]
	path = plugin
	url = git@github.com:fakedrake/npapiPlugins
	branch = build-script
[submodule "CodebenederChromeDeveloper"]
	path = CodebenderChromeDeveloper
	url = git@github.com:fakedrake/CodebenederChromeDeveloper
