[submodule "plugin"]
	path = plugin
	url = git@github.com:fakedrake/npapiPlugins
	branch = build-script
[submodule "CodebenderChromeDeveloper"]
	path = CodebenderChromeDeveloper
	url = git@github.com:fakedrake/CodebenderChromeDeveloper
